STORAGE_PORT=5002
STORAGE_NODE_ID=node-2
STORAGE_DIR=D:/DistributedStorage/node-2
STORAGE_ROOT=D:/DistributedStorage
BACKEND_URL=http://localhost:5000
INTERNAL_API_SECRET=
HEARTBEAT_INTERVAL_MS=5000
NODE_HOST=localhost
